<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.arsan.niloufar.karyab" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.farsitel.bazaar.permission.PAY_THROUGH_BAZAAR" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="سی وی نگار"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".WelcomeActivity"
            android:label="مشخصات فردی"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".JobSeekerMeunActivity"
            android:label="منو کاریاب"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SkillActivity"
            android:label="مهارت"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ExperienceActivity"
            android:label="سابقه کار"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name=".EDUCATIONActivity"
            android:label="تحصیلات"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

        <activity
            android:name=".PhoneActivity"
            android:label="تلفن"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

        <activity
            android:name=".CellPhoneActivity"
            android:label="تلفن همراه"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".AdressActivity"
            android:label="آدرس"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".MaillAdressActivity"
            android:label="ایمیل"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

        <activity
            android:name=".InAppPurchaseActivity"
            android:label="پرداخت"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="ir.adad.client.AdadActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name=".AdadActivity"
            android:label="@string/title_activity_adad"
            android:theme="@style/AppTheme.NoActionBar" >

        </activity>

        <meta-data
            android:name="AdadToken"
            android:value="d5fb2501bbf3469a9ff43d51fb061ea4" />
        <meta-data
            android:name="AdadTestMode"
            android:value="true" />

        <activity
            android:name=".SkillModifyActivity"
            android:label="تغییر مهارت"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".AdressModifyActivity"
            android:label="تغییر آدرس"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".CellPhoneModifyActivity"
            android:label="تغییر تلفن"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ExperienceModifyActivity"
            android:label="تغییر سابقه شغلی"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".EducationModifyActivity"
            android:label="تغییر سابقه تحصیلی"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".MailAdressModifyActivity"
            android:label="تغییر ایمیل"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".PhoneModifyActivity"
            android:label="تغییر تلفن"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:label="پروفایل"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".AdressProfileActivity"
            android:label="@string/title_activity_adress_profile"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".PhotoActivity"
            android:label="عکس"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".PasswordActivity"
            android:label="گذر واژه"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="وارد شوید"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".RecoverPasswordActivity"
            android:label="بازیابی پسورد"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".SwipeActivity"
            android:label="@string/title_activity_swipe"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".TabsActivity"
            android:label="ساختن رزومه"
            android:theme="@style/AppTheme.NoActionBar" >

        </activity>
        <activity
            android:name=".HistoryActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" >

        </activity>
        <activity
            android:name=".InformationActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" >

        </activity>
        <activity
            android:name=".MainMenuActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SplashActivity"
            android:label="سی وی نگار"
            android:theme="@style/AppTheme.NoActionBar" >

        </activity>
    </application>

</manifest>
